/* projecto 1 */
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0 190px;
    width: 1500px;
}
.links{
    display: flex;
}
.title-project1{
    font-size: 50px;
    background: linear-gradient(90deg, rgb(46, 53, 150) 16%, rgb(61, 66, 212) 36%, rgb(117, 60, 221) 62%, rgba(69,42,195,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 300px;
}
.p-pj{
    font-size: 20px;
    color: rgb(163, 163, 163);
    width: 1200px;
}
.p2-pj{
    font-size: 20px;
    color: rgb(219, 219, 219);
    padding-bottom: 8px;
    width: 300px;
}
.li-1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(104, 102, 247) 16%, rgb(61, 64, 212) 36%, rgb(31, 33, 141) 62%, rgb(124, 195, 42) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 18px;
    margin-top: 12px;
}
.link-pj1{
    text-decoration: none;
    background-color: transparent;
    color: rgb(230, 230, 230);
    border-bottom: 2px solid rgb(90, 201, 90);
    width: 100px;
    padding: 8px;
    text-align: center;
    margin-top: 32px;
    transition: width 0.3s ease;
    margin-right: 80px;
}
.link-pj1:hover{
    width: 150px;
    transition: width 0.3s ease-in;
}

/* projecto 2 */
.title-project2{
    font-size: 50px;  
    color: rgb(226, 220, 220); 
}
.li-2{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(216, 247, 255) 16%, rgb(167, 168, 218) 36%, rgb(0, 0, 0) 62%, rgb(0, 0, 0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 18px;
    margin-top: 12px;
    width: 300px;
}
/* projecto 3 */
.title-project3{
    font-size: 50px;
    background: linear-gradient(90deg, rgb(219, 125, 70) 16%, rgb(190, 108, 41) 36%, rgb(218, 117, 50) 62%, rgb(195, 85, 42) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 300px;
}
.li-3{
    background: linear-gradient(90deg, rgb(219, 125, 70) 16%, rgb(190, 108, 41) 36%, rgb(218, 117, 50) 62%, rgb(195, 85, 42) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 18px;
    margin-top: 12px;
    width: 300px;
}