body{
    margin: 0;
    font-family: "Inter", sans-serif; 
    background-color: rgb(20, 20, 20);
}
hr{
    width: 1500px;
    margin-top: 150px;
}
.tecnologias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1600px;
    margin: 100px 0 0 200px;
}
.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1600px;
    margin: 50px 0 0 200px;
}
.title-project{
    color: rgb(231, 231, 231);
    margin: 150px 0 0 200px;
    font-size: 70px;
}
.footer{
    background-color: rgb(37, 36, 36);
}