.footer-container{
    width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0 200px;
}
.contacto{
    display: flex;
}
.titles{
    width: 600px;
    margin-top: 50px;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 300px;
    width: 600px;
}
.form{
    display: flex;
    flex-direction:column;
}
.input{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(145, 145, 145);
    width: 500px;
    padding: 12px;
}
.input:hover{
    background-color: transparent;
    border: none;
}
.input-message{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 520px;
    height: 80px;
}
.contact-title{
    color: rgb(236, 236, 236);
    font-size: 80px;
}
.label{
    color: rgb(141, 141, 141);
    margin-top: 30px;
}
.button-footer{
    border: none;
    background-color: transparent;
    width: 150px;
    height: 50px;
    font-size: 25px;
    margin: 200px 0 0 400px;
    padding: 14px 2px 2px 2px;
    color: rgb(236, 236, 236);
    cursor: pointer;
    border-radius: 0rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    text-align: center;
}
.button-footer:hover{
    background-color: gray;
    border-radius: 1rem;
    transition: all 0.3s ease;
}
.alert{
    color: rgb(99, 7, 7);
    margin-top: 20px;
}
.redes{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.links-redes{
    margin-top: 20px;
}
.link-footer{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
.name-footer{
    color: rgb(236, 236, 236);
}
.hr{
    margin-top: 85px;
}
.message{
    color: rgb(184, 184, 184);
}