.projects{
    position: relative;
    display: inline-block;
    margin-top: 34px;
    width: 700px;
  }
  
  .button-container {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .projects:hover .button-container{
    opacity: 1; 
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 1rem;
  }
  .button-container button {
    background-color: transparent;
    width: 300px;
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
  }
.img-project{
    width: 700px;
    opacity: 1; 
    transition: opacity 0.3s;
}
.img-project:hover{
    opacity: 0.5;
}
.project-title{
    color: rgb(231, 231, 231);
}
.project-description{
    color: rgb(121, 121, 121);
}